plots/*
data_individualexp/*
data/*
deprecated/*
*.gz
.DS_Store
resopt/analysis/__pycache__/
resopt/problem/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
results/*
*.txt
*.log
visualization.html