plots/*
data_individualexp/*
data/*
deprecated/*
*.gz
.DS_Store
resopt/analysis/__pycache__/*
resopt/problem/__pycache__/*
resopt/files/__pycache__/*
*.pyc
__pycache__/*
*.pyc.1
*.pyc.2
*.pyc.3
*.pyc.4
*.pyc.5
*.pyc.6
*.pyc.7
*.pyc.8
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
results/*
*.txt
*.log
visualization.html
check_status.sh
download_results*.sh